.container {
}
.gears-content {
}
.gear-content-left {
}
.gear-title {
    color: #A6A8AD;
    font-size: 12px;
    margin-bottom: 5px;
}
.gear-heading {
    font-size: 28px;
    margin-bottom: 12px;
}
.gear-text {
}
.button-explore-gear {
}
.gear-content-right {
}